/* timeline */
.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 2;
}

.timeline .timeline-item::after {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    width: 1px;
    background: #212529;
    bottom: 0;
    z-index: 1;
}

.timeline .timeline-item.item-primary::before {
    background-color: #1b68ff;
}

.timeline .timeline-item.item-success::before {
    background-color: #3ad29f;
}

.timeline .timeline-item.item-warning::before {
    background-color: #eea303;
}

.timeline .timeline-item.item-danger::before {
    background-color: #dc3545;
}

/* custom circle */
.circle {
    display: inline-flex;
    border-radius: 50%;
    align-items: center !important;
    text-align: center;
}

.circle-sm {
    width: 32px;
    height: 32px;
}

.circle-md {
    width: 48px;
    height: 48px;
}

.circle-lg {
    width: 64px;
    height: 64px;
}

.circle .fe {
    margin: 0 auto;
}

/* custom dot */
.dot {
    content: "";
    border-radius: 50%;
    display: inline-block;
}

.dot-md {
    height: 6px;
    width: 6px;
}

.dot-lg {
    width: 10px;
    height: 10px;
}